body {
  /*padding-top: 80px;*/
}

.panel-body {
  height: 355px;
  word-wrap: break-word;
}

#messages {
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.username_chat {
  font-weight: bold;
  color: red;
}

.private_message {
  font-weight: bold;
  color: purple;
}

.master_message {
  font-weight: bold;
  color: blue;
}
