body {
  /*padding-top: 80px;*/
}

.panel-body {
  height: 365px;
  word-wrap: break-word;
}

#messages {
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.username_chat {
  font-weight: bold;
  color: red;
}
